/* ===== GLOBAL ===== */

body {
    background-color: #f8f6f2;
    color: #111;
    font-family: 'Montserrat', sans-serif;
}

/* ===== NAVBAR ===== */

.custom-navbar {
/*     background-color: #ffffff !important;
 */ 
    background-color: #000000; 
    color: #ffffff;   
    padding: 20px 0;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}

.logo-main {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    letter-spacing: 6px;
    color: #111;
}
.logo-sub {
    font-size: 11px;
    letter-spacing: 6px;
    color: #777;
}

.nav-link {
    color: #d4af37; /* Dorado */
    margin-left: 25px;
    font-size: 14px;
    letter-spacing: 1px;
    transition: 0.3s ease;
}

.nav-link:hover {
    color: #bfa15a !important;
}

 
/* ===== HERO BOUTIQUE PRODUCTO ===== */

.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: #f8f6f2;
    padding-top: 100px;
}

.hero-text h1 {
    font-family: 'Playfair Display', serif;
    font-size: 64px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 17px;
    color: #555;
    max-width: 450px;
}

.perfume-img {
    max-height: 600px;
    transition: transform 0.6s ease;
}

.perfume-img:hover {
    transform: scale(1.05);
}
/* ===== BUTTON ===== */

.btn-gold {
    background-color: #111;
    color: #fff;
    border-radius: 40px;
    padding: 8px 22px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

.btn-gold:hover {
    background-color: #bfa15a;
    color: #fff;
    transform: translateY(-3px);
}

/* ===== SECTION TITLE ===== */

.section-title {
    font-family: 'Playfair Display', serif;
    font-size: 42px;
    font-weight: 500;
}

/* ===== CATEGORIES ===== */

.category-card {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.category-card img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    transition: transform 0.6s ease;
}

.category-card:hover img {
    transform: scale(1.08);
}

.category-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.35);
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-overlay h3 {
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    letter-spacing: 3px;
}

/* ===== PRODUCT CARDS ===== */

.product-card {
    background: #fff;
    padding: 15px;
    transition: all 0.4s ease;
    border: 1px solid rgba(0,0,0,0.05);
}

.product-card img {
    height: 220px;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.product-card:hover img {
    transform: scale(1.05);
}

.product-info {
    margin-top: 20px;
}

.product-info h4 {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.price {
    font-size: 16px;
    margin-bottom: 12px;
}
/* HERO PAGINA INTERNA */

.page-hero {
    height: 40vh;
    background-color: #f8f6f2;
    padding-top: 120px;
}

.page-hero h1 {
    font-family: 'Playfair Display', serif;
    font-size: 48px;
}

.page-hero p {
    color: #666;
}

/* ===== FILTROS BEBIDAS ===== */

.filtros-wrapper {
  display: flex;
  justify-content: center;
}

.filtros {
  display: flex;
  gap: 15px;
  background: #f8f8f8;
  padding: 10px 20px;
  border-radius: 50px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.05);
}

.filtro-btn {
  border: none;
  background: transparent;
  padding: 8px 18px;
  border-radius: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #444;
  transition: all 0.3s ease;
  cursor: pointer;
}

.filtro-btn:hover {
  background-color: #d4af37;
  color: white;
}

.filtro-btn.active {
  background-color: #000;
  color: white;
}

.sin-stock {
  color: #c0392b;
  font-weight: 600;
  margin-bottom: 8px;
}

/* footer */
/* FOOTER STYLES */
.main-footer {
    background-color: #000000; 
    color: #ffffff;
    padding: 60px 0 20px;
    margin-top: 80px;
    font-family: 'Montserrat', sans-serif;
}

.footer-logo {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    letter-spacing: 2px;
}

.footer-logo span {
    color: #d4af37; /* Dorado */
}

.main-footer h5 {
    color: #d4af37;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.footer-link {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-link:hover {
    color: #d4af37;
}

.footer-divider {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin: 40px 0 20px;
}

.copyright {
    font-size: 0.8rem;
    color: #888;
    margin-bottom: 5px;
}

.designer {
    font-size: 0.75rem;
    color: #666;
}

.designer a {
    color: #d4af37;
    text-decoration: none;
    font-weight: 500;
}

.designer a:hover {
    text-decoration: underline;
}
.map-container {
    overflow: hidden;
    border: 1px solid rgba(212, 175, 55, 0.3); /* Un borde dorado muy sutil */
    line-height: 0;
}

.map-container iframe {
    transition: filter 0.5s ease;
}

/* Cuando el usuario pasa el mouse, el mapa recupera color */
.map-container:hover iframe {
    filter: grayscale(0) invert(0) opacity(1) !important;
}

/* Esto fuerza al icono a ser blanco mediante un filtro */
.custom-navbar .navbar-toggler-icon {
    filter: invert(1) brightness(2);
}

/* cuadradito también blanco */
.custom-navbar .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.8);
}